<!DOCTYPE HTML>
<html>
<head>
	<title>书趴网</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="./css/aboutUs.css">
</head>
<body>
	<div class="body-content">
		<div class="header">
        	<img src="./imgs/logo.png" class="logo">
            <ul class="mcc-nav">
                <li><a href="javascript:void(0)">微信</a></li>
                <li><a href="javascript:void(0)">微博</a></li>
                <li><a href="javascript:void(0)">加入我们</a></li>
                <li><a href="javascript:void(0)">活动社区</a></li>
            </ul>
            <ul class="lo-re">
                <li><a href="javascript:void(0)">注册</a></li>
                <li><a href="javascript:void(0)">登陆</a></li>
            </ul>
        </div>         
		<div class="main-content">
			<div class="main-content-wrapper">
				<h1>关于我们</h1>
				<div class="logo-desc">
					<img src="./imgs/logo.png" alt="" class="logo">
					<div class="desc">
						书趴（唯有读书·交友才靠谱）是一款基于图书及图书馆场景的校园社交软件，在这里同学们可以发起邀约一起去图书馆看书、自习或是交换自己手中的旧书、求得新学期的教材，甚至可以通过以书会友此般高逼格的借口约到倾慕已久的男神女神。
					</div>
				</div>
				<div class="members">
					<div class="member-item">
						<img src="./imgs/member_1.png" class="member-pic m1" data-id="1">
						<span class="member-name">孙林浩</span><br>
						<span class="member-job">创始人&产品经理</span>
					</div>
					<div class="member-item">
						<img src="./imgs/member_2.png" class="member-pic m2" data-id="2">
						<span class="member-name">马春潮</span><br>
						<span class="member-job">服务器端工程师</span>
					</div>
					<div class="member-item">
						<img src="./imgs/member_3.png" class="member-pic m3" data-id="3">
						<span class="member-name">杨京九</span><br>
						<span class="member-job">web前端工程师</span>
					</div>
					<div class="member-item">
						<img src="./imgs/member_4.png" class="member-pic m4" data-id="4">
						<span class="member-name">张九鹏</span><br>
						<span class="member-job">web前端工程师</span>
					</div>
					<div class="member-item">
						<img src="./imgs/member_5.png" class="member-pic m5" data-id="5">
						<span class="member-name">谭岑</span><br>
						<span class="member-job">Android工程师</span>
					</div>
					<div class="member-item">
						<img src="./imgs/member_6.png" class="member-pic m6" data-id="6">
						<span class="member-name">赵新宇</span><br>
						<span class="member-job">ios工程师</span>
					</div>
					<div class="member-item">
						<img src="./imgs/member_7.png" class="member-pic m7" data-id="7">
						<span class="member-name">张婧怡</span><br>
						<span class="member-job">平面设计师</span>
					</div>
					<div class="member-item">
						<img src="./imgs/member_8.png" class="member-pic m8" data-id="8">
						<span class="member-name">赵雨萌</span><br>
						<span class="member-job">法务专员</span>
					</div>
				</div>
				<div class="company-born">
					<div class="desc">
						哈尔滨书趴科技有限公司由一群有想法，有激情的年轻人组建而成的年轻有实力的创业公司。团队成立于2014年3月，公司成立于2014年8月。目前有天使轮融资的需求，团队靠谱、牛逼、低调，产品深受用户欢迎。欢迎有投资意愿的投资人前来洽谈参观。
					</div>
					<div class="born-date">
						<p>August</p>
						<p>2014</p>
					</div>
				</div>

				<div class="clearB"></div>
			</div>
		</div>

	</div>
	<script type="text/javascript" src="./js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="./js/bootstrap.js"></script>
	<script type="text/javascript" src="./js/aboutUs.js"></script>
</body>
</html>