<div class="mcc-footer">
            <div class="footer-content">
                <ul class="ul-first-row">
                    <li><a href="/service" target="_blank">服务条款</a></li>
                    <li><a href="/users/aboutUs" target="_blank">关于我们</a></li>
                    <li><a href="http://www.lagou.com/gongsi/48738.html" target="_blank">加入我们</a></li>
                    <li><a href="http://zqb.cyol.com/html/2014-03/31/nw.D110000zgqnb_20140331_4-09.htm" target="_blank">媒体报道</a></li>
                </ul>
                <ul class="ul-second-row">
                    <li>商务合作：孙先生</li>
                    <li>qq：799656999</li>
                    <li>邮箱：slh@ibookpa.com</li>
                </ul>
                <div class="copy-icon">版权所有 © ibookpa.com 黑ICP备14006990号</div>
            </div>
</div>
            
