<div class="header">
    <img src="/images/logo.png" class="logo">
    <ul class="mcc-nav">
        <li><a  class="wechat" href="javascript:void(0)">微信/微博</a></li>
        <img src="/images/2wm_u24.png" class="two-code">
        <li><a href="javascript:void(0)">发布活动</a></li>
        <li><a href="javascript:void(0)">活动社区</a></li>
    </ul>
    <ul class="lo-re">
        <%if(typeof(user) != 'undefined') {%>
            <li><a href="/users/logout">退出</a></li>
            <li><a href="/users/personal"><%=user.nickname%></a></li>
        <%} else {%>
            <li><a href="/users/register">注册</a></li>
            <li><a href="/users/login">登陆</a></li>
        <%}%>
    </ul>
</div>  
<script type="text/javascript" src="/javascripts/jquery-1.9.1.js"></script>      
<script type="text/javascript">
    $(function(){
        var code = $('.two-code');
        $('.header').delegate('.wechat','mouseover',function(){
            code.animate({'left':'320px'});
            code.animate({'top':'80px'});
        });
        $('.header').delegate('.wechat','mouseout',function(){
            code.animate({'top':'0px'});
            code.animate({'left':'-110px'});
        });
    });
</script>