<div class="header">
    <img src="/images/logo.png" class="logo">
    <ul class="mcc-nav">
        <li><a  class="two-code" href="http://weibo.com/shupa" target="_blank">微信/微博</a></li>
        <img src="/images/2wm_u24.png" class="wechat-code">
        <img src="/images/2wm_u24.png" class="weibo-code">
        <li><a href="/publish">发布活动</a></li>
        <li><a href="/">活动社区</a></li>
    </ul>
    <ul class="lo-re">
        <%if(typeof(session.user) != 'undefined' && session.user != null) {%>
            <li><a href="/users/logout" class="white">退出</a></li>
            <%if(session.user.nickname == '' || session.user.nickname == null) {%>
                <li><a href="/users/personal" class="white"><%=session.user.username%></a></li>
            <%}else{%>
                <li><a href="/users/personal" class="white"><%=session.user.nickname%></a></li>
            <%}%>
        <%} else {%>
            <li><a href="/users/register" class="white">注册</a></li>
            <li><a href="/users/login" class="white">登陆</a></li>
        <%}%>
    </ul>
</div>  
<script type="text/javascript" src="/javascripts/jquery-1.9.1.js"></script>      
<script type="text/javascript">
    $(function(){
        var code = $('.wechat-code');
        var wcode = $('.weibo-code');
        var logo = $('.logo');
        $('.header').delegate('.two-code','mouseover',function(){
            code.animate({'left':'280px'});
            code.animate({'top':'80px'});
            wcode.animate({'right':'840px'});
            wcode.animate({'top':'80px'});
        });
        $('.header').delegate('.two-code','mouseout',function(){
            code.animate({'top':'0px'});
            code.animate({'left':'-110px'});
            wcode.animate({'top':'0px'});
            wcode.animate({'right':'-110px'});
        });
        $('.logo').click(function(){
            window.location = '/';
        });
    });
</script>