<!DOCTYPE HTML>
<html>
<head>
	<title>书趴网</title>
	<link rel="stylesheet" type="text/css" href="./css/login-register.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
</head>
<body>
	<div class="body-content">
		<div class="div-content">
			<div class="left">
				<div class="logo-desc">
					<img src="./imgs/logo.png" alt="书趴网" class="logo">
					<span class="desc">唯有读书·交友才靠谱</span>
				</div>
				<img src="./imgs/bg.jpg" class="pics">
			</div>
			<div class="right">
				<span class="welcome-register">10秒注册，开启你的书趴之旅</span><br>
				<div class="div-login">
					<form>
						<ul class="ul-login">
							<li>
								<span class="label-username">用户名:&nbsp;</span><input name="" type="text" placeholder="请输入用户名" style="margin-left:2px;" /><br>
							</li>
							<li>
								<span class="label-password">密&nbsp;&nbsp;&nbsp;&nbsp;码: </span><input name="" type="password" placeholder="请输入密码" class="password"/><span class="glyphicon glyphicon-eye-close password-eye" ></span><br>
							</li>
						</ul>
						<div class="div-btns">
							<button class="btn btn-default width75">立即注册</button>
							<a href="" class="forget-password marginL15 fontS14">已是趴客</a>
						</div>
					</form>
				</div>
		</div>
	</div>
	<script type="text/javascript" src="./js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="./js/login-register.js"></script>
</body>
</html>